* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: white;
}

body {
  background-image: url(/static/img/img_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.githubrepo {
  position: sticky;
  width: fit-content;
  right: 0;
  bottom: 0;
  background-color: rgb(29, 29, 29);
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  border-radius: 10px;
}
.githubrepo button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #4d4d4d;
  border: none;
  border-radius: 10px;
  color: black;
}
.githubrepo button a {
  text-decoration: underline dotted;
}
header {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
  background-color: #2e2e2e5c;
  backdrop-filter: blur(12px);
  padding: 10px 15px;
  border-radius: 100px;
  margin-top: 10px;
  position: sticky;
  top: 10px;
  z-index: 10;
}

header img {
  height: 15px;
}
.first-section,
.second-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section .ann {
  background-color: rgba(0, 255, 255, 0.3);
  color: aqua;
  border-radius: 10px;
  width: fit-content;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 10px;
}

.fs-text {
  font-size: 2em;
  margin-bottom: 10px;
}
.fs-text span {
  text-decoration: underline dashed;
}

.first-section button {
  color: black;
  background-color: #eee;
  width: 15%;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 6px;
  text-decoration: underline dotted;
  cursor: pointer;
}

.second-section {
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: fit-content;
  margin: auto;
  background-color: #2e2e2e5c;
  backdrop-filter: blur(12px);
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.second-section .join {
  margin-top: 70px;
  color: grey;
}

.second-section .join span {
  text-decoration: underline dashed;
  cursor: pointer;
  color: inherit;
}

footer {
  background-color: rgb(46, 46, 46);
}

footer img {
  width: 80%;
}

footer ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 10px;
  color: rgb(90, 90, 90);
}
footer ul li {
  cursor: pointer;
  text-decoration: underline dotted;
}
